.message
    padding: 5px 5px
    position: absolute
    top: -45px
    background: #000000cc
    color: #fff
    text-align: center
    min-width: 100px
    &::after
        content: ''
        position: absolute
        border: 10px solid transparent
        border-top: 10px solid #000000cc
        left: calc(50% - 10px)
        margin-top: 28px


@media screen and (max-width: 992px)
    .message
        display: none
    