.header
    padding: 20px .5vw 
    box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.33)
    position: relative
    &__box-logo
        display: flex
        justify-content: center
    .row
        padding: 0 !important
        margin-left: 0 !important
        margin-right: 0 !important
.navigation
    display: flex
    align-items: center
    &__list
        display: flex
        padding: 0
        margin: 0
        list-style: none
    &__item
        margin-right: 15px
        &:last-child
            margin-right: 0
    &__link
        text-decoration: none
        &:hover
            text-decoration: none
            color: #1890ff
.sign-in
    background: transparent
    border: 0
    outline: none
    &:focus
        border: 0
        outline: none
    &__text
        color: #1890ff
        padding-left: 10px
.main
    height: calc(100vh - 137.25px)
    background-size: cover !important
    background-position: 50% !important
    background-repeat: no-repeat !important
    overflow-y: scroll
    padding: 0 3vw
.home-content
    height: calc(100vh - 137.25px)
    display: flex
    justify-content: center
    align-items: center
    &__logo
        width: 100%
        max-width: 300px 
        animation-name: rotation
        animation-duration: 10s
        animation-iteration-count: infinite
        animation-timing-function: linear
@keyframes rotation
    0% 
        transform: rotate(0deg)
    
    100% 
        transform: rotate(360deg)
.footer
    color: rgba(0, 0, 0, 0.65)
    padding: 24px 50px
    text-align: center
    background: #f1f1f1

.contacts
    width: 100%
    padding: 50px 30px 30px 30px
    position: relative

.navigation-line
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    background: #fff
    padding: 10px 15px
    box-shadow: 0px 6px 16px 1px rgba(0, 0, 0, .2)
    border-radius: 8px 
    &__search,
    &__select
        width: 100%
        color: #737373
        border-radius: 4px
        outline: none
        border: 1.5px solid #9e9d9d
        padding: 5px 10px
        &:hover,
        &:focus
            border: 1.5px solid #737373
            transition: .4s ease-out
        &:focus
            box-shadow: 0 0 0 2px rgba(0,0,0,.2)
        

.navigation-board
    display: flex
    justify-content: flex-end
    &__link
        width: 32px
        height: 32px
        display: flex
        justify-content: center
        align-items: center
        background: #f1f0f0
        border: 1.5px solid #737373
        &:nth-child(2)
            border-top-left-radius: 4px
            border-bottom-left-radius: 4px
            border-right: 0
        &:nth-child(3)
            border-top-right-radius: 4px
            border-bottom-right-radius: 4px
        &:hover
            background: #dadada
            transition: .4s ease-out

    &__link--update
        border-radius: 50%
        margin-right: 7px
    &__link--view
        &:focus
            background: #dadada

.update-cover
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    background: #9a9a9e73
    left: 0
    right: 0
    top: 0
    bottom: 0
    